@font-face {
    font-family: 'abraham';
    src: url('fonts\Abraham\Abraham-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'abraham', sans-serif;
}

video, input {
    display: block;
}

input {
    width: 100%;
}

.info {
    background-color: aqua;
}

.error {
    background-color: red;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
    background-color: #f1f1f1;
    opacity: 70%;
    height: 100%; /* Full height */
    position: absolute; /* Position the list absolutely */
    right: 0;  /*Align to the right side of the page */
    /*right: 0;  /*Start hidden on the right*/
    top:0;
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    text-align: right;
    display: none;
    /*transition: right 0.5s ease-in-out; /* Animate the 'right' property */*/
  }

  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: right;
  }

  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }
.main-text, .secondary-text {
    display: inline-block; /* Display elements inline-block */
}
  .main-text {
      display: block; /* Ensure main text is on its own line */
      font-size: 20px; /* Main text font size */
      font-weight: bold; /* Main text font weight */
  }

  .secondary-text {
      display: block; /* Ensure secondary text is on its own line */
      font-size: 16px; /* Secondary text font size */
  }