<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="../static/css/style.css">
  <meta name="description" content="">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:image:alt" content="">
</head>

<body>

<div class="video-container">
    <video hidden autoplay></video>
</div>
<ul id="lista">
</ul>
<script src="../static/js/app.js"></script>

</body>

</html>
