<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="../static/css/style.css">
  <meta name="description" content="">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:image:alt" content="">

</head>

<body>

<h1>HTML5 local video file player example</h1>
<div id="message"></div>
<!--<input class="video" type="file" accept="video/*" multiple="multiple"/>-->
<label class="video_picker">
  <select class="picker">
  </select>
</label>
<video controls autoplay></video>
<button id="toggleButton">Show List</button>
<ul id="lista">
  <li><a><span class="main-text">red</span>
    <span class="secondary-text">רותם</span></a></li>
  <li><a><span class="main-text">green</span>
    <span class="secondary-text">עוד מילים מעניינות</span></a></li>
  <li><a><span class="main-text">blue</span>
    <span class="secondary-text">ניסיון לשלב also אנגלית</span></a></li>

</ul>
<script src="../static/js/app.js"></script>

</body>

</html>
